body {
	margin: 0;
	overflow-x: hidden;
	color: #3B283D;
	width: 100%;
	height: 100%;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* 842px <- 1173px */
@media (max-width: 73.374em) and (min-width: 53.125em) {

	#portrait {
		width: 320px;
		background: url(/media/engagementMed.png) no-repeat;
	}
}

/*  <- 1173px */
@media (max-width: 73.374em) {
	#banner .banner-bar {
		height: 1.59em;
	}

    nav ul {
        width: 600px;
    }

	.will-young {
		background: url(/media/will_young_small.png) no-repeat;
		background-size: 25% auto;
	}
	.steph-young {
		background: url(/media/steph_young_small.png) no-repeat;
		background-size: 25% auto;
	}
	.dating {
		background: url(/media/dating_small.png) no-repeat;
		background-size: 25% auto;
	}
	.kristi {
		background: url(/media/kristi_small.png) no-repeat;
		background-size: 25% auto;
	}
	.jordan {
		background: url(/media/jordan_small.png) no-repeat;
		background-size: 25% auto;
	}
	.mike {
		background: url(/media/mike_small.png) no-repeat;
		background-size: 25% auto;
	}
	.berry {
		background: url(/media/berry_small.png) no-repeat;
		background-size: 25% auto;
	}
	.alyssa {
		background: url(/media/alyssa_small.png) no-repeat;
		background-size: 25% auto;
	}
	.ashley {
		background: url(/media/ashley_small.png) no-repeat;
		background-size: 25% auto;
	}
	.diplomat {
		background: url(/media/diplomat_small.png) no-repeat;
		background-size: 25% auto;
	}
}

/* 842 -> */
@media (min-width: 53.125em) {
    #portrait {
        display: inline-block;
    }
    #portrait-narrow {
        display: none;
    }
    header {
        text-align: center;
    }
    #header-top > div {
        margin-top: 15vh;
		font-size: 4em;
        display: inline-block;
    }
    /* Div specifically for the date */
	#wedding-date {
		text-align: right;
		margin-right: 20px;
	}

	/* Div specifically for countdown */
	#countdown {
		text-align: left;
		margin-left: 20px;
	}
}

/* <- 842px */
@media (max-width: 53.124em) {
    #portrait {
        display: none;
    }
    #portrait-narrow {
        width: 320px;
        height: 90vh;
        background: url(/media/engagementMed.png) no-repeat center top;
        float: right;
    }
    header {
        text-align: left;
    }
    #header-top > div {
        margin-top: 40px;
		font-size: 3em;
        font-weight: bold;
        float: left;
    }
    #countdown {
        clear: left;
    }
}

/* 1174px -> */
@media (min-width: 73.375em) {
	#banner .banner-bar {
		height: 0.64em;
	}

    nav ul {
        width: 1174px;
    }

	#portrait {
		width: 640px;
		background: url(/media/engagementLarge.png) no-repeat;
	}
	.will-young {
		background: url(/media/will_young.png) no-repeat;
		background-size: 25% auto;
	}
	.steph-young {
		background: url(/media/steph_young.png) no-repeat;
		background-size: 25% auto;
	}
	.dating {
		background: url(/media/dating.png) no-repeat;
		background-size: 25% auto;
	}
	.kristi {
		background: url(/media/kristi.png) no-repeat;
		background-size: 25% auto;
	}
	.jordan {
		background: url(/media/jordan.png) no-repeat;
		background-size: 25% auto;
	}
	.mike {
		background: url(/media/mike.png) no-repeat;
		background-size: 25% auto;
	}
	.berry {
		background: url(/media/berry.png) no-repeat;
		background-size: 25% auto;
	}
	.alyssa {
		background: url(/media/alyssa.png) no-repeat;
		background-size: 25% auto;
	}
	.ashley {
		background: url(/media/ashley.png) no-repeat;
		background-size: 25% auto;
	}
	.diplomat {
		background: url(/media/diplomat.png) no-repeat;
		background-size: 25% auto;
	}
}


header {
	width: 100%;
    height: 75vh;
	overflow: hidden;
}
	/*
	 *	#header-top specifically contains the date, countdown, and main portrait
	 *	#header-top is meant to be "behind" everything and stay in place while the
	 *	rest of the page scrolls over it
	 */
	#header-top {
		position: fixed;
		width: 100%;
        min-width: 320px;
        height: 100%;
		z-index: -10;
		background: #FFF url(/media/bg.png);
	}

	/* These divs are the date and countdown containers */
	#header-top > div {
		vertical-align: top;
		font-family: 'Crush', Georgia, serif;
	}

	/* Main portrait container */
	#portrait {
		height: 90vh;
		background-size: cover;
		background-position: center top;
		/* background-url and width set in @media */
	}

	.banner-bar {
		width: 100%;
		background: #3B283D;
		color: #B6BAB9;
	}
	#banner {
		font-size: 8em;
		line-height: 0.96;
		font-family: 'Italianno', Georgia, serif;
		/*height: 1em;*/
		text-align: center;
	}
	#banner span {
		position: relative;
		top: -4px;
	}
	#main-nav {
		text-align: center;
		position: relative;
		z-index: 10;
	}
	nav ul {
		padding: 30px 0;
		margin: 0 auto;
	}
	nav li {
		/*display: inline;*/
        float: left;
		margin: 0 2.3%;
	}
	nav a {
		text-decoration: none;
		color: #3B283D;
		font-family: 'Crush', Georgia, serif;
		font-size: 2.2em;
		line-height: 2;
        display: block;
	}

	ul {
		list-style-type: none;
	}

	a {
		color: #3B283D;
	}

	nav a:before, nav a:after {
		position: absolute;
	}
	nav ul:hover a.active:before, nav ul:hover a.active:after {content: '';}

	nav a.active:before,
	nav ul:hover a.active:hover:before {content: '[';}

	nav a.active:after,
	nav ul:hover a.active:hover:after {content: ']';}

	nav a:hover:before {content: '[';}
	nav a:hover:after {content: ']';}

	nav a span {padding-left: 24px;} /* Handle offset for absolutely positioned pseudo elements */

	table {
		width: 100%;
		height: 100%;
	}

	div.footer {
		font-family: 'Crush', Georgia, serif;
		font-size: 1.7em;
	}
	div.footer li a {
		text-decoration: none;
	}
	div.footer a {
		color: #B6BAB9;
	}
	div.footer td:last-of-type {
		padding: 10px;
	}

	div.text {
		width: 75%;
	}
	.container .float-container {
		overflow: hidden;
		margin-top: -2em;
	}

.container article {
	padding-bottom: 6em;
}

article li {
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 1.3em;
	line-height: 1.3em;
}

div.container {
	/*margin-top: 75vh;*/
	background: #FFF url(/media/bg.png);
	height: 100%;
}

#intro {
	max-width: 1260px;
	margin: 0 auto;
	padding-top: 40px; /* gives sufficient clearance from banner to distinguish next section */
}

ul {
	padding: 40px;
}

p {
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 1.3em;
	line-height: 1.3em;
}

h1 {
	font-family: 'Italianno', Georgia, serif;
	font-size: 6.5em;
	font-weight: normal;
	margin: 0;
	line-height: 1.7em;
}

h2 {
	font-family: 'Italianno', Georgia, serif;
	font-size: 4em;
	font-weight: normal;
	margin: 0.4em 0;
}

h3 {
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 1.7em;
	margin: 30px;
}

.align-left {text-align: left;}
.align-right {text-align: right;}
.align-center {text-align: center;}
.float-left {float: left;}
.float-right {float: right;}
.bg-left {background-position: 0;}
.bg-right {background-position: 100%;}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/* Sans Serif fonts */
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat/montserrat.eot');
    src: url('fonts/montserrat/montserrat.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat/montserrat.woff2') format('woff2'),
         url('fonts/montserrat/montserrat.woff') format('woff'),
         url('fonts/montserrat/montserrat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat/montserrat-bold.eot');
    src: url('fonts/montserrat/montserrat-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat/montserrat-bold.woff2') format('woff2'),
         url('fonts/montserrat/montserrat-bold.woff') format('woff'),
         url('fonts/montserrat/montserrat-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat/montserrat-italic.eot');
    src: url('fonts/montserrat/montserrat-italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat/montserrat-italic.woff2') format('woff2'),
         url('fonts/montserrat/montserrat-italic.woff') format('woff'),
         url('fonts/montserrat/montserrat-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat/montserrat-bold-italic.eot');
    src: url('fonts/montserrat/montserrat-bold-italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat/montserrat-bold-italic.woff2') format('woff2'),
         url('fonts/montserrat/montserrat-bold-italic.woff') format('woff'),
         url('fonts/montserrat/montserrat-bold-italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
/* Ornament fonts */
@font-face { /* [ and ] for surrounding hearts, * for tiny heart, | for full character heart */
	font-family: 'Crush';
    src: url('fonts/crush/crush.eot');
    src: url('fonts/crush/crush.eot?#iefix') format('embedded-opentype'),
         url('fonts/crush/crush.woff2') format('woff2'),
         url('fonts/crush/crush.woff') format('woff'),
         url('fonts/crush/crush.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Serif fonts */
@font-face {
    font-family: 'Italianno';
    src: url('fonts/italianno/italianno-regular-otf.eot');
    src: url('fonts/italianno/italianno-regular-otf.eot?#iefix') format('embedded-opentype'),
         url('fonts/italianno/italianno-regular-otf.woff2') format('woff2'),
         url('fonts/italianno/italianno-regular-otf.woff') format('woff'),
         url('fonts/italianno/italianno-regular-otf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}