body {
	margin: 0;
	overflow-x: hidden;
	color: #3B283D;
}

/* <- 352 px *//*
@media (max-width: 22em) {
	header .portrait {
		background: url(/media/engagementSmall.png);
	}
}

/* 353px - 720px *//*
@media (min-width: 22.0625em) and (max-width: 45em) {
	header .portrait {
		background: url(/media/engagementMed.png);
	}
}

/* 1100px -> */
@media (min-width: 68.75em) {
	#portrait {
		width: 640px;
		background: url(/media/engagementLarge.png) no-repeat;
	}
}

header {
	width: 100%;
	overflow: hidden;
	text-align: center;
}
	/*
	 *	#header-top specifically contains the date, countdown, and main portrait
	 *	#header-top is meant to be "behind" everything and stay in place while the
	 *	rest of the page scrolls over it
	 */
	#header-top {
		position: fixed;
		width: 100%;
		z-index: -10;
		background: #FFF url(/media/bg.png);
	}

	/* These divs are the date and countdown containers */
	#header-top > div {
		display: inline-block;
		vertical-align: top;
		margin-top: 15vh;
		font-size: 4em;
		font-family: 'Crush', Georgia, serif;
	}

	/* Main portrait container */
	#portrait {
		display: inline-block;
		height: 90vh;
		background-size: cover;
		/* background-url and width set in @media */
	}

	/* Div specifically for the date */
	#wedding-date {
		text-align: right;
		margin-right: 20px;
	}

	/* Div specifically for countdown */
	#countdown {
		text-align: left;
		margin-left: 20px;
	}
	.banner-bar {
		width: 100%;
		background: #3B283D;
		color: #B6BAB9;
	}
	#banner {
		margin-top: 80vh;
		font-size: 6em;
		font-family: 'Foxes', Georgia, serif;
	}
	#main-nav {
		text-align: center;
	}
	nav ul {
		padding: 30px 0;
		margin: -30px 0;
	}
	nav li {
		display: inline;
		margin: 0 40px;
	}
	nav a {
		text-decoration: none;
		color: #3B283D;
		font-family: 'Crush', Georgia, serif;
		font-size: 2.2em;
	}
	nav a.active:before {
		content: '[';
	}
	nav a.active:after {
		content: ']';
	}


section.container {
	margin: -18px 0; /* Pushes banner backround right up to text base */
	background: #FFF url(/media/bg.png);
}

#intro {
	width: 1260px;
	margin: 0 auto;
	padding-top: 20px; /* gives sufficient clearence from banner to distinguish next section */
}

h1 {
	font-family: 'Foxes', Georgia, serif;
	font-size: 6.5em;
	text-align: center;
	color: #966FD6;
	text-shadow: -1.5px 0 5.5px black, 0 1.5px 5.5px black, 1.5px 0 5.5px black, 0 -1.5px 5.5px black;
	position: fixed;
	width: 100%;
	left: 5.5%;
}
h1.top {
	top: -70px;
}
h1.bottom {
	bottom: -90px;
}
h1 span {
	font-family: 'Crush', Georgia, serif;
}
p {font-family: 'Sansation', Arial, sans-serif}

/* Fancy fonts */
@font-face {font-family: Delicious;src: local('Delicious'), url('fonts/Delicious.ttf') format('truetype')}
/* Normal fonts */
@font-face {font-family: Champagne;src: local('Champagne'), url('fonts/Champagne.ttf') format('truetype')}
@font-face {font-family: Champagne-Bold;src: local('Champagne-Bold'), url('fonts/Champagne-Bold.ttf') format('truetype')}
@font-face {font-family: Champagne-Italic;src: local('Champagne-Italic'), url('fonts/Champagne-Italic.ttf') format('truetype')}
@font-face {font-family: Champagne-Bold-Italic;src: local('Champagne-Bold-Italic'), url('fonts/Champagne-Bold-Italic.ttf') format('truetype')}
/* Test fonts */
/* butterfly with | */
@font-face {font-family: Touch;src: local('Touch'), url('fonts/Touch.ttf') format('truetype');}
/* _ for hearts, | for foxes */
@font-face {font-family: Foxes;src: local('Foxes'), url('fonts/Foxes.ttf') format('truetype');}
/* [ and ] for surrounding hearts, * for tiny heart, | for full character heart */
@font-face {font-family: Crush;src: local('Crush'), url('fonts/Crush.ttf') format('truetype');}
@font-face {font-family: Walt;src: local('Walt'), url('fonts/Walt.ttf') format('truetype');}
