body {
	margin: 0;
	overflow-x: hidden;
	background: #B6BAB9;
	color: #3B283D;
}

/*header {
	width: 100%;
	overflow: hidden;
	text-align: center;
}*/

.fullsize {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

header section > div {
	display: inline-block;
	height: 100vh;
	width: 19.9vw;
}

header .portrait {
	text-align: center;
	width: 60vw;
}

header img {
	height: 100vh;
}


/* Sizes are looking good, except when screen size gets too wide, then everything just gets too big! =/ */

#banner {
	/*height: 8vmax;*/
	position: relative;
	bottom: 25px;
	width: 100%;
	background: #3B283D;
	color: #B6BAB9;
	/*text-align: center;*/
	z-index: 5;
	font-size: 7vmax;
	/*white-space: nowrap;*/
}

#dates {
	/*height: 70vh;
	width: 100%;
	position: absolute;
	top: 0;*/
	font-size: 5vmax;
}

#dates .wedding {
	position: absolute;
	left: 25px;
	top: 25px;
	text-align: left;
}

#dates .countdown {
	position: absolute;
	right: 25px;
	top: 25px;
	text-align: right;
}



/* implement media query to prevent font size for height over a certain threshold?
		well shit, what about a smaller width??? Ugh, idk =/ */

#main-nav {
	height: 10vh;
	width: 100%;
	position: absolute;
	bottom: 0;
}

#intro {
	position: relative;
	top: 100vh;
}

h1 {
	font-family: 'Foxes', Georgia, serif;
	font-size: 6.5em;
	text-align: center;
	color: #966FD6;
	text-shadow: -1.5px 0 5.5px black, 0 1.5px 5.5px black, 1.5px 0 5.5px black, 0 -1.5px 5.5px black;
	position: fixed;
	width: 100%;
	left: 5.5%;
}
h1.top {
	top: -70px;
}
h1.bottom {
	bottom: -90px;
}
h1 span {
	font-family: 'Crush', Georgia, serif;
}
p {font-family: 'Sansation', Arial, sans-serif}

nav ul {
    height: auto;
    padding: 8px 0;
    margin: 0;
}

nav li {
	display: inline;
}

nav a {
    text-decoration: none;
    color: #00F;
    padding: 8px 8px 8px 8px;
}

/* Fancy fonts */
@font-face {font-family: Delicious;src: local('Delicious'), url('fonts/Delicious.ttf') format('truetype')}
/* Normal fonts */
@font-face {font-family: Champagne;src: local('Champagne'), url('fonts/Champagne.ttf') format('truetype')}
@font-face {font-family: Champagne-Bold;src: local('Champagne-Bold'), url('fonts/Champagne-Bold.ttf') format('truetype')}
@font-face {font-family: Champagne-Italic;src: local('Champagne-Italic'), url('fonts/Champagne-Italic.ttf') format('truetype')}
@font-face {font-family: Champagne-Bold-Italic;src: local('Champagne-Bold-Italic'), url('fonts/Champagne-Bold-Italic.ttf') format('truetype')}
/* Test fonts */
/* butterfly with | */
@font-face {font-family: Touch;src: local('Touch'), url('fonts/Touch.ttf') format('truetype');}
/* _ for hearts, | for foxes */
@font-face {font-family: Foxes;src: local('Foxes'), url('fonts/Foxes.ttf') format('truetype');}
/* [ and ] for surrounding hearts, * for tiny heart, | for full character heart */
@font-face {font-family: Crush;src: local('Crush'), url('fonts/Crush.ttf') format('truetype');}
@font-face {font-family: Walt;src: local('Walt'), url('fonts/Walt.ttf') format('truetype');}
