{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{% static "Wedding/style.css" %}" />
</head>
<body>
    {% block content %}{% endblock %}
	<!--<script src="{% static "Wedding/js/script.js" %}"></script>-->
	<script src="{% static "Wedding/js/tokenizer.js" %}"></script>
	<script src="{% static "Wedding/js/parser.js" %}"></script>
	<script src="{% static "Wedding/js/vminpoly.js" %}"></script>
</body>
</html>