{% extends "Wedding/base.html" %}
{% load staticfiles %}
{% block title %}Steph & Will{% endblock %}

{% block content %}
	{% include "Wedding/page_header.html" %}
	<div class="container">

		{% include "Wedding/page_nav.html" with curr_page="guest-info" %}

		<div id="intro" class="content-block">
			<article class="clearfix">
				<h1 class="align-left">For Our Guests</h1>

				<h2 class="align-left">Schedule</h2>
				<div class="float-container">
					<div>
						<ul>
							<li>4:30 P.M. - Ceremony Begins</li>
							<li>5:00 P.M. - Ceremony Ends; Wedding Party leaves for pictures</li>
							<li>6:15 P.M. - Wedding Party is back; Best man/Maid of honor speeches</li>
							<li>6:30 P.M. - Buffet and greeting the newly weds</li>
							<li>7:30 P.M. - First Dance; Parent dances</li>
							<li>7:45 P.M. - Dance floor open</li>
							<li>9:30 P.M. - Final dance; Farewells</li>
						</ul>
					</div>
				</div>

				<h2 class="align-left">Places to Stay</h2>
				<div class="float-container">
					<div class="text align-center">
						<h3>The <a href="http://www.marriott.com/hotels/travel/rocap-rochester-airport-marriott/">Rochester Airport Marriott</a></h3>
						<p>
							585-225-6880<br />
							<!-- TODO: Find prices; ask about discounts; reserve room blocks -->
						</p>
						<div class="map align-center">
							<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Rochester%20Airport%20Marriott%2C%20Ridge%20Road%20West%2C%20Rochester%2C%20NY%2C%20United%20States&key=AIzaSyAecODZXhHCJKKjGaulAV92-Q8a_3CcxX0"></iframe>
						</div>

						<h3>The <a href="http://www.laquintarochesternorth.com/">LaQuinta Inns & Suites</a></h3>
						<div class="map align-center">
							<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=La%20Quinta%20Inn%20Rochester%20North%2C%20Lyell%20Avenue%2C%20Rochester%2C%20NY%2C%20United%20States%2C%20North%20America&key=AIzaSyAecODZXhHCJKKjGaulAV92-Q8a_3CcxX0"></iframe>
						</div>
					</div>
				</div>

				<h2 class="align-left">Things to Do</h2>
				<div class="float-container">
					<div class="text float-left">
						<p></p>
					</div>
				</div>
			</article>

		</div>
	</div>
{% endblock %}