{% extends "Wedding/base.html" %}
{% load staticfiles %}
{% block title %}Steph & Will{% endblock %}

{% block content %}
	{% include "Wedding/page_header.html" %}
	<div class="container">

		{% include "Wedding/page_nav.html" with curr_page="index" %}

		<div id="intro" class="content-block">
			<article class="clearfix">
				<div class="float-container steph-young bg-right">
					<h1 class="align-left"><span class="long">Stephanie Young</span><span class="short">Stephanie</span></h1>
					<div class="text float-left">
						<p>
							Growing up in Greece, NY, she always knew she wanted to have an impact on the world. Surviving her
							parents divorce, surviving an eating disorder; she persevered. Originally wanting to become a teacher,
							her priorities changed once she got further along in school. Finally, she set her sights on becoming
							a social worker!
						</p><p>
							Stephanie worked her way through MCC, struggling with math, like any aspiring social worker does.
							She managed to move on to State University of New York at Brockport to complete her Bachelor of Science. And currently,
							she's wonderfully in her final year of achieving her Masters degree in Social Work, with the ultimate
							goal of helping others who are struggling with an eating disorder.
						</p>
					</div>
				</div>
			</article>

			<article class="clearfix">
				<div class="float-container will-young bg-left">
					<h1 class="align-right"><span class="long">Will Gordon</span><span class="short">Will</span></h1>
					<div class="text float-right">
						<p>
							He's been around! Growing up in Ohio, graduating from high school in Allegany, NY, and finally
							coming to Rochester to graduate college from R.I.T. with a degree in computer science. He never
							actually wanted to do anything with computers! Always wanting to be a veterinarian, even throughout
							most of high school. It was finally in Allegany, while working for a veterinary hospital, did he
							realize that the it wasn't worth the difficulty of dealing with animal cruelty, abandoned animals,
							and even euthanasia. During his senior year of high school, he took his first programming class,
							and that was when he discovered his innate abilities.
						</p><p>
							Junior and senior year of college at R.I.T, Will started working for a local company, <a
								href="http://www.masline.com"
								title="Shameless plug since I've done a lot of work on this site myself">
							Masline	Electronics</a>. He's been there now for four years, and has worked on just about every
							technical aspect of the daily runnings at Masline Electronics. Glenn and Gert Masline have become
							his adopted work-parents and have always kept a wonderful, watching eye on him.
						</p>
					</div>
				</div>
			</article>

			<article class="clearfix">
				<div class="float-container dating bg-right">
					<h1 class="align-left">Dating</h1>
					<div class="text float-left">
						<p>
							Stephanie Young and Will Gordon met through Match.com. It was in the middle of March, 2011. They
							started out slowly, conversations through match.com, emails, and finally text messages. They agreed
							to meet on April 2nd at Java's Cafe on Gibbs St. Well, the two hit it
							off immediately! They were there for three hours, prompting a humorous phone call from Steph's
							sister, "Bethany? Is there a Bethany here??". Yes, the barista apparently misheard Kristi asking
							for "Stephanie"; and yes, Kristi had actually called Java's to make sure Stephanie was still ok.
							The date ended with a lovely walk around Greece mall, still one of their favorite pastimes.
						</p><p>
							In April, Will made a mistake. He was unsure of himself, and unsure of the direction a relationship
							between him and Stephanie may go. This was their rocky start, and Will ended the relationship before
							it had ever officially began. <strong>But</strong> thanks to a wonderfully timed pizza dinner,
							stuffed crust from Pizza Hut with alfredo sauce, and a <em>Like</em> on Facebook on August 21st,
							a course correction had begun. This led to some long Facebook messages, more email conversations,
							and finally a text message asking if Stephanie would consider a second chance...she made Will
							wait for 3 hours before giving him her reply, it was <strong>yes</strong>!
						</p><p>
							They officially started dating on <strong><em>September 4th, 2011</em></strong> (does that sound
							like a familiar date?). It's been a wonderful adventure ever since! Skydiving, their first foray
							into Mexico, late nights falling asleep on her mom's couch, Thanksgiving with his grandparents,
							homework and studying. After 2 and a half years of dating, Stephanie graduated from SUNY Brockport
							college. Will had found a Groupon (an amazing source of a few of their vacations) for Lake Placid
							in the Adirondacks. This was Will's graduation gift to Stephanie, a couple of nights away. It was
							also going to be a little bit more...
						</p>
					</div>
				</div>
			</article>

			<article>
				<h1 class="align-center"><span class="long">The Proposal</span><span class="short">Proposal</span></h1>
				<div class="vid align-center">
					<iframe width="640" height="360" src="//www.youtube-nocookie.com/embed/57nNQkQg7Gc?rel=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</article>


		</div>
	</div>
{% endblock %}