{% extends "Wedding/base.html" %}
{% load staticfiles %}
{% block title %}Steph & Will{% endblock %}

{% block content %}
	{% include "Wedding/page_header.html" %}<!--
	<div id="intro" class="image-block">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus consequat est, at euismod libero sagittis in. Nullam ac lectus ornare, posuere dolor in, tempus tortor.
			Aliquam eu ante nisi. Donec at nisi risus. Morbi vitae ligula dolor. Vestibulum condimentum scelerisque hendrerit. Nam non dolor tempus, rhoncus magna sed, ultricies ligula.
			Praesent at auctor massa. Sed fermentum ligula congue sodales auctor. Proin pellentesque at augue nec vulputate. Phasellus ullamcorper, nunc sit amet tempus elementum, turpis
			lectus ornare augue, porta ultrices urna diam eu tellus.
		</p><p>
			Nam tristique dictum ultricies. Phasellus at sagittis erat, vitae sagittis nisl. In nec libero et dui molestie tincidunt. Vivamus at enim vitae mi pulvinar posuere non vel turpis.
			Morbi eu purus posuere, dignissim nisi pulvinar, porttitor orci. Quisque volutpat fermentum velit, ac iaculis magna vestibulum in. Aliquam erat volutpat. Maecenas sit amet velit
			velit. Donec congue nisl odio, ac facilisis leo imperdiet sed. Etiam adipiscing purus ligula, et porttitor ligula tincidunt ullamcorper. Vivamus cursus, tellus vel scelerisque
			auctor, erat dolor pretium orci, accumsan tincidunt neque turpis laoreet diam. Fusce fringilla, massa pellentesque ultrices varius, sem nulla mattis diam, in facilisis quam est
			vel purus. Nam porttitor odio vitae erat commodo, a aliquet orci tristique.
		</p><p>
			Integer commodo odio ut nibh rutrum, sed venenatis velit congue. Aenean in laoreet ante. Curabitur aliquet dui lectus, ac placerat tortor venenatis convallis. Nunc porta turpis
			at luctus malesuada. Mauris augue dolor, semper vel ultrices ullamcorper, sagittis eu neque. Pellentesque nec molestie elit. Curabitur blandit enim risus, at dictum enim bibendum
			et. Praesent eget magna id sem suscipit suscipit at sit amet orci. Duis pretium consequat erat, et auctor felis eleifend ut. Curabitur rhoncus libero non nibh commodo, nec porta
			ante sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec ac felis mollis, volutpat est eget, dictum risus. Nulla varius
			nulla et egestas porta. Proin fermentum ornare ligula eget convallis. Vestibulum commodo eleifend enim, imperdiet tincidunt massa dapibus sit amet.
		</p>
	</div>
	<div id="main-info" class="content-block"></div>
	<footer></footer>-->
{% endblock %}