{% extends "Wedding/base.html" %}
{% load staticfiles %}
{% block title %}Steph & Will{% endblock %}

{% block content %}
	{% include "Wedding/page_header.html" %}
	<section class="container">
		{% include "Wedding/page_nav.html" %}
		<div id="intro" class="content-block">
			<table>
				<tr>
					<td><h1 class="align-left">Stephanie Young</h1></td>
					<td rowspan="2"><img src="/media/steph_young.png"></td>
				</tr>
				<tr>
					<td><p>
						Growing up in Greece, NY, she always knew she wanted to have an impact on the world. Surviving her
						parents divorce, surviving an eating disorder; she persevered. Originally wanting to become a teacher,
						her priorities changed once she got further along in school. Finally, she set her sights on becoming
						a social worker!
					</p><p>
						Stephanie worked her way through MCC, struggling with math, like any aspiring social worker does.
						She managed to move on to State University of New York at Brockport to complete her Bachelor of Science. And currently,
						she's amazingly in her final year of achieving her Masters degree in Social Work, with the ultimate
						goal of helping others who are struggling with an eating disorder.
					</p></td>
				</tr>
			</table>

			<table>
				<tr>
					<td rowspan="2"><img src="/media/will_young.png"></td>
					<td><h1 class="align-right">Will Gordon</h1></td>
				</tr>
				<tr>
					<td><p>
						He's been around! Growing up in Ohio, graduating from high school in Allegany, NY, and finally
						coming to Rochester to graduate college from R.I.T. with a degree in computer science. He never
						actually wanted to do anything with computers! Always wanting to be a veterinarian, even throughout
						most of high school. It was finally in Allegany, while working for a veterinary hospital, did he
						realize that the it wasn't worth the difficulty of dealing with animal cruelty, abandoned animals,
						and even euthanasia. During his senior year of high school, he took his first programming class,
						and that was when he discovered his innate abilities.
					</p><p>
						Junior and senior year of college at R.I.T, Will started working for a local company, <a
							href="http://www.masline.com"
							title="Shameless plug since I've done a lot of work on this site myself">
						Masline	Electronics</a>. He's been there now for four years, and has worked on just about every
						technical aspect of the daily runnings at Masline Electronics. Glenn and Gert Masline have become
						his adopted work-parents and have always kept a wonderful, watching eye on him.
					</p></td>
				</tr>
			</table>


			<article>
				<h1 class="align-left">Dating</h1> <!-- Left -->
				<aside class="float-right"><img src=""></aside> <!-- Right -->
			</article>
			<article>
				<h1 class="align-center">The Proposal</h1> <!-- centered -->
				<!-- Video --> <!-- centered -->
			</article>
		</div>
	</section>
{% endblock %}