<div class="footer banner-bar">
	<table>
		<tr>
			<td>
				<ul>
					<li><a href="/" class="active"><span>Our&nbsp;Story</span></a></li>
					<li><a href="/ceremony"><span>Ceremony</span></a></li>
					<li><a href="/reception"><span>Reception</span></a></li>
					<li><a href="/guest-info"><span>Guest&nbsp;Information</span></a></li>
					<li><a href="/wedding-party"><span>Wedding&nbsp;Party</span></a></li>
				</ul>
			</td>
			<td align="right" valign="top">
				<ul>
					<!--<li><a href="/admin">Login</a></li> UGLY ATM -->
				</ul>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				Copyright&nbsp;&copy;&nbsp;{% now "Y" %}
				<a href="mailto:will@stephandwill.com">Will&nbsp;Gordon</a>&nbsp;&&nbsp;<a href="mailto:steph@stephandwill.com">Stephanie&nbsp;Young</a>
			</td>
		</tr>
	</table>
</div>