<header>
	<img id="portrait" src="/my-media/engagement.png">
	<section id="dates">
		<div class="wedding">
		{% for unit, value in wedd_date.items %}
			<div id="{{ unit }}">{{ value }}</div>
		{% endfor %}
		</div>
		<div class="countdown">
		{% for unit, value in diff.items %}
			<div id="{{ unit }}">{{ unit|title }}: {{ value }}</div>
		{% endfor %}
		</div>
	</section>
	<section id="banner">
		Stephanie Young & Will Gordon
	</section>
	<nav id="main-nav">
		<ul>
			<li>Our Story</li>
			<li>Wedding Party</li>
			<li>Ceremony</li>
			<li>Reception</li>
			<li>Wedding Details</li>
		</ul>
	</nav>
</header>