{% extends "Wedding/base.html" %}
{% load staticfiles %}
{% block title %}Steph & Will's Wedding Shower{% endblock %}

{% block content %}
	{% include "Wedding/page_header.html" %}
	<div class="container">

		{% include "Wedding/page_nav.html" %}

		<div id="intro" class="content-block">
			<article class="clearfix">
				<h1 class="align-left">
					<span class="long">Steph & Will's Wedding Shower</span>
					<span class="short">Wedding Shower</span>
				</h1>

				<h2>Details</h2>
				<div>
					<ul>
						<li><span class="crush">*</span>R.S.V.P. is manadatory</li>
						<li><span class="crush">*</span>R.S.V.P. must be made by July 18<sup style="vertical-align: top; font-size: 70%;">th</sup>, 2015</li>
						<li><span class="crush">*</span>Checkout <a href="//stephandwill.com/registry">StephandWill.com/Registry</a> for our registry!</li>
						<li><span class="crush">*</span>Dressy casual</li>
						<li><span class="crush">*</span>Lunch and dessert will be served</li>
						<li><span class="crush">*</span>Obviously, ladies <span style="text-decoration: underline;">only</span> (aged 10 and over)</li>
						<li><span class="crush">*</span>Space is limited, and so is our guest list. Please wait for your invite.</li>
					</ul>
				</div>

			</article>
			<article class="clearfix">

				<h2>Directions</h2>
				<div>
					<h3>From the West of Rochester, NY</h3>
					<ul>
						<li><span class="crush">*</span>Start on Route 104 East to St. Paul Blvd</li>
						<li><span class="crush">*</span>Proceed North, 4.5 miles, to Lakeshore Blvd</li>
						<li><span class="crush">*</span>Turn Right onto Lakeshore Blvd</li>
						<li><span class="crush">*</span>Continue, 1.0 mile, to Camp Eastman</li>
					</ul>
				</div>
				<br />
				<div>
					<h3>From the East of Rochester, NY</h3>
					<ul>
						<li><span class="crush">*</span>Start on Route 590 North to Durand Blvd</li>
						<li><span class="crush">*</span>Turn Left onto Durand Blvd</li>
						<li><span class="crush">*</span>Proceed West to Lakeshore Blvd</li>
						<li><span class="crush">*</span>Continue, 2.0 miles, to Camp Eastman</li>
					</ul>
				</div>
				<br />
				<div>
					<h3>From the Southeast of Rochester, NY</h3>
					<ul>
						<li><span class="crush">*</span>Start on Route 104 West to Culver Road</li>
						<li><span class="crush">*</span>Turn Right onto Culver Road</li>
						<li><span class="crush">*</span>Proceed North, 2.4 miles, to Lakeshore Blvd</li>
						<li><span class="crush">*</span>Turn Left onto Lakeshore Blvd</li>
						<li><span class="crush">*</span>Continue, 2.0 miles, to Camp Eastman</li>
					</ul>
				</div>
				<br />
				<div>
					<h3>For All</h3>
					<ul>
						<li><span class="crush">*</span>Starting on Camp Eastman Way</li>
						<li><span class="crush">*</span>Cabin will be on the right side of the road</li>
						<li><span class="crush">*</span>Our cabin is the last of the 3 smaller cabins</li>
					</ul>

				</div>

			</article>

		</div>
	</div>
{% endblock %}