{% extends "Wedding/base.html" %}
{% load staticfiles %}
{% block title %}Steph & Will{% endblock %}

{% block content %}
	{% include "Wedding/page_header.html" %}
	<div class="container">

		{% include "Wedding/page_nav.html" with curr_page="wedding-party" %}

		<div id="intro" class="content-block">
			<article class="clearfix">
				<div class="float-container kristi bg-right">
					<h1 class="align-left">Kristi&nbsp;Young&nbsp;- Maid&nbsp;of&nbsp;Honor</h1>
					<div class="text float-left">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus mollis est, quis pretium nisl tincidunt nec. Ut id feugiat dolor, eget volutpat dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer efficitur, sem vel finibus vulputate, urna lectus efficitur orci, sit amet egestas lorem magna sit amet enim. Vivamus ligula nisl, tempus ac magna a, maximus consequat arcu. Integer rutrum consequat est. Vivamus leo lacus, imperdiet a varius vitae, vehicula et enim. Suspendisse in magna suscipit, vehicula nibh iaculis, ullamcorper nunc.</p>
					</div>
				</div>
			</article>

			<article class="clearfix">
				<div class="float-container ashley bg-left">
					<h1 class="align-right">Ashley Halsey</h1>
					<div class="text float-right">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus mollis est, quis pretium nisl tincidunt nec. Ut id feugiat dolor, eget volutpat dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer efficitur, sem vel finibus vulputate, urna lectus efficitur orci, sit amet egestas lorem magna sit amet enim. Vivamus ligula nisl, tempus ac magna a, maximus consequat arcu. Integer rutrum consequat est. Vivamus leo lacus, imperdiet a varius vitae, vehicula et enim. Suspendisse in magna suscipit, vehicula nibh iaculis, ullamcorper nunc.</p>
					</div>
				</div>
			</article>

			<article class="clearfix">
				<div class="float-container alyssa bg-right">
					<h1 class="align-left">Alyssa Robinson</h1>
					<div class="text float-left">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus mollis est, quis pretium nisl tincidunt nec. Ut id feugiat dolor, eget volutpat dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer efficitur, sem vel finibus vulputate, urna lectus efficitur orci, sit amet egestas lorem magna sit amet enim. Vivamus ligula nisl, tempus ac magna a, maximus consequat arcu. Integer rutrum consequat est. Vivamus leo lacus, imperdiet a varius vitae, vehicula et enim. Suspendisse in magna suscipit, vehicula nibh iaculis, ullamcorper nunc.</p>
					</div>
				</div>
			</article>

			<article class="clearfix">
				<div class="float-container jordan bg-left">
					<h1 class="align-right">Jordan&nbsp;Hunter&nbsp;- Best&nbsp;Man</h1>
					<div class="text float-right">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus mollis est, quis pretium nisl tincidunt nec. Ut id feugiat dolor, eget volutpat dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer efficitur, sem vel finibus vulputate, urna lectus efficitur orci, sit amet egestas lorem magna sit amet enim. Vivamus ligula nisl, tempus ac magna a, maximus consequat arcu. Integer rutrum consequat est. Vivamus leo lacus, imperdiet a varius vitae, vehicula et enim. Suspendisse in magna suscipit, vehicula nibh iaculis, ullamcorper nunc.</p>
					</div>
				</div>
			</article>

			<article class="clearfix">
				<div class="float-container berry bg-right">
					<h1 class="align-left">Justin Berry</h1>
					<div class="text float-left">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus mollis est, quis pretium nisl tincidunt nec. Ut id feugiat dolor, eget volutpat dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer efficitur, sem vel finibus vulputate, urna lectus efficitur orci, sit amet egestas lorem magna sit amet enim. Vivamus ligula nisl, tempus ac magna a, maximus consequat arcu. Integer rutrum consequat est. Vivamus leo lacus, imperdiet a varius vitae, vehicula et enim. Suspendisse in magna suscipit, vehicula nibh iaculis, ullamcorper nunc.</p>
					</div>
				</div>
			</article>

			<article class="clearfix">
				<div class="float-container mike bg-left">
					<h1 class="align-right">Michael Buonaccorso</h1>
					<div class="text float-right">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus mollis est, quis pretium nisl tincidunt nec. Ut id feugiat dolor, eget volutpat dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer efficitur, sem vel finibus vulputate, urna lectus efficitur orci, sit amet egestas lorem magna sit amet enim. Vivamus ligula nisl, tempus ac magna a, maximus consequat arcu. Integer rutrum consequat est. Vivamus leo lacus, imperdiet a varius vitae, vehicula et enim. Suspendisse in magna suscipit, vehicula nibh iaculis, ullamcorper nunc.</p>
					</div>
				</div>
			</article>

		</div>
	</div>
{% endblock %}