{% extends "Wedding/base.html" %}
{% load staticfiles %}
{% block title %}Steph & Will{% endblock %}

{% block content %}
	{% include "Wedding/page_header.html" %}
	<section class="container">

		{% include "Wedding/page_nav.html" %}

			<div id="intro" class="content-block">
			<article class="clearfix">
				<div class="title"><h1 class="align-left">Stephanie Young</h1></div>
				<div class="float-container steph-young bg-right">
					<div class="text float-left">
						<p></p>
					</div>
				</div>
			</article>

		</div>
	</section>
{% endblock %}