{% extends "Wedding/base.html" %}
{% load staticfiles %}
{% block title %}Steph & Will{% endblock %}

{% block content %}
	{% include "Wedding/page_header.html" %}
	<div class="container">

		{% include "Wedding/page_nav.html" with curr_page="wedding-party" %}

		<div id="intro" class="content-block">
			<article class="clearfix">
				<div class="float-container kristi bg-right">
					<h1 class="align-left">
						<span class="long">Kristi&nbsp;Young&nbsp;- Maid&nbsp;of&nbsp;Honor</span>
						<span class="short">Kristi</span>
					</h1>
					<div class="text float-left">
						<p>
							Sister of the bride, Kristi Young hasn't been the biggest fan of the groom; always teasing
							that he would need her approval in order for them to get married. Still, she has been the
							brides biggest fan and supporter throughout their lives together. She is currently attending
							Bryant and Stratton College for medical assisting and works part time as a shift supervisor
							for Rite Aid. And, while she hasn't given her explicit approval, she hasn't outright objected
							against the wedding yet.
						</p>
					</div>
				</div>
			</article>

			<article class="clearfix">
				<div class="float-container ashley bg-left">
					<h1 class="align-right"><span class="long">Ashley Halsey</span><span class="short">Ashley</span></h1>
					<div class="text float-right">
						<p>
							The bride's cousin, never farther away than a short drive. It's always been a sort of Three
							Musketeers between the bride, Ashley, and Kristi. Picture's of the three of them on the beach,
							captured in mid jump have been some of the bride's favorite. Ashley is currently going to school
							in Boston, M.A. for dental hygiene. With Boston being an almost six hour drive, you can imagine
							the planning difficulties! Well, at least she won't be in Boston forever!
						</p>
					</div>
				</div>
			</article>

			<article class="clearfix">
				<div class="float-container alyssa bg-right">
					<h1 class="align-left"><span class="long">Alyssa Robinson</span><span class="short">Alyssa</span></h1>
					<div class="text float-left">
						<p>
							Childhood best friend to the bride. It's actually a generational friendship they inherited
							from their parents, who were also best friends growing up, and still are! Alyssa has maintained
							a dormitory residence in Buffalo, N.Y. throughout the majority of the bride and groom's courtship;
							however, she has accepted the groom and wish the two of them nothing but happiness. She is
							now working on her graduate degree in psychology.
						</p>
					</div>
				</div>
			</article>

			<article class="clearfix">
				<div class="float-container jordan bg-left">
					<h1 class="align-right">
						<span class="long">Jordan&nbsp;Hunter&nbsp;- Best&nbsp;Man</span>
						<span class="short">Jordan</span>
					</h1>
					<div class="text float-right">
						<p>
							Best man, and best friend of the groom. They were originally paired in the most random way
							possible, freshman dormroom assignments. The groom would not be the man he is today without
							the influence that Jordan has had on his life, including the fabled day when the groom had been
							deemed too antisocial, so Jordan physically picked him up in his chair and placed him out into
							the hallway. Jordan is currently working at General Motors in Michigan, having been relocated
							there after GM closed their Honeoye plant.
						</p>
					</div>
				</div>
			</article>

			<article class="clearfix">
				<div class="float-container berry bg-right">
					<h1 class="align-left"><span class="long">Justin Berry</span><span class="short">Berry</span></h1>
					<div class="text float-left">
						<p>
							As with most of the grooms friends, Justin (well, Berry really, who calls him Justin?) was
							first a friend of Jordan's. They have since become great friends, and Berry, being recently
							married himself, knows the joy of finding the right person. Berry is currently a student at
							Liberty University in Lynchburg, V.A., working on his degree in nursing. His gracious wife
							has been kind enough to loan him to the groom to be part of this wedding party!
						</p>
					</div>
				</div>
			</article>

			<article class="clearfix">
				<div class="float-container mike bg-left">
					<h1 class="align-right"><span class="long">Michael Buonaccorso</span><span class="short">Mike</span></h1>
					<div class="text float-right">
						<p>
							Mike is no stranger to weddings, and in fact, no stranger to attending weddings <em>with</em>
							the groom. However, in all of these weddings, he's typically employed to be at the wedding as
							a DJ, with the groom as his faithful assistant. Mike is currently employed by Ultrafab as an
							engineer, and moonlights as a DJ for weddings and night clubs. Mike will, however, definitely
							not be DJing this wedding, he gets to be <em>part</em> of the party this time!
						</p>
					</div>
				</div>
			</article>

		</div>
	</div>
{% endblock %}